// Pagina de inicio y header

.redes{
margin-top: 2rem;
font-size: 1.2rem;}
            
// Fin de pagina inicio y header

// Edicion de carousels

.carousel-edicion{display: flex;
flex-direction: column;
align-items: center;
margin-top: 3rem;
}

// Fin edicion carousels

// Pagina redes

.page-instagram{
display: flex;
flex-direction: column;
align-items: center;
margin: 2rem;

.instagram-texto2{
font-size: 0.9rem;
font-weight: bolder;
color: $colordos;
text-decoration: none;
; margin: 2rem;
}

.instagram{
height: 9rem;
}
}
       
.ubicacion{
display: flex;
flex-direction: column;
align-items: center;

.mapa{
height: 40vh;
width: 40vh;
}

}

// Fin de pagina redes

// Pagina contacto

.info-turnos{
margin: 1rem; 
display: flex;
flex-direction: column;
align-items: center;}
    
.titulo-turno{
margin: 2rem;
font-size: 1.8rem;
}
    
.aclaracion-turno{
background-color: $Coloruno;
}

// Fin de pagina contacto